<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav centralizado">  <!-- Adicionamos a classe 'centralizado' -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ms-5 ">
            <a class="nav-link active" aria-current="page" href="/admin/categories">Teste</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link active" aria-current="page" href="/sair">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  